.heart {
  background: url(../../assets/img_notepad/heart.svg) no-repeat 0 center / 1.2em;
  padding-left: 1.4em;
  /* font-size: 20px; */
  /* font-weight: bold; */
  /* margin: 15px 0; */
  /* cursor: pointer; */
}
.diary-textarea {
  display: block;
  width: 100%;
  height: 360px;
  resize: none;
  padding: 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}
.diary-textarea::placeholder {
  font-size: 16px;
}
.diary-main textarea {
  margin: 16px 0;
}

/* article */
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
p,
h3 {
  margin: 0;
}

.diary-article {
  border-color: #677880;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  padding: 50px 48px;
  position: relative;
  max-width: 100%;

  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}
.diary-article::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  /* background-color: royalblue; */
}
.diary-article::before {
  top: -20px;
  left: 47%;
  background: #fffaf0 url(../../assets/img_notepad/pin.png) no-repeat 0 0 /
    contain;
}
/* 
.diary-article::after {
  bottom: -20px;
  right: 30px;
  background: #fffaf0 url(../assets/img_notepad/quote-end.svg) no-repeat 0 0 /
    contain;
} */
.article-title {
  color: #29363d;
  font-size: 16px;
  float: left;
  background: none;
  font-weight: bold;
  /* white-space: nowrap; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding: 0;
}
.article-title::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  border-top: 1px solid #677880;
  top: 4px;
  left: 0;
  z-index: -1;
}
.article-time {
  color: #677880;
  font-size: 13px;
  float: right;
}
.article-content {
  color: #5a6a72;
  font-size: 14px;
  line-height: 1.4;
  clear: both;
  margin-top: 40px;
}
/* Layout */
.container {
  display: flex;
  width: 1224px;
  max-width: calc(100% - 60px);
  margin: auto;
  gap: 40px;
}
.container main {
  flex-basis: 456px;
  flex-shrink: 0;

  box-sizing: border-box;
  border-right: 1px solid #5a6a72;

  padding-top: 56px;
  padding-right: 40px;

  min-height: calc(100vh - 120px);
  box-sizing: border-box;
}

/* @media */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .container main {
    border-right: 0;
    padding-right: 0;
    min-height: auto;
  }
}
.container section {
  padding-top: 76px;
  width: 100%;
}

.container section ul li {
  margin-bottom: 40px;
}

.button-group {
  position: absolute;
  bottom: 15%;
  left: 90%;
  transform: translate(-50%, 50%);
  /* background: #e9e7e7; */
  /* border: 1px solid #677880; */
  width: 111px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-group button {
  width: 32px;
  height: 32px;
  /* background: none; */
  padding: 0;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.button-group button:hover {
  opacity: 1;
}
.button-group button img {
  width: 100%;
}
.button-group span {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #d8ddde;
  margin: 0 4px;
}

/* common */
/* 공통 */
body {
  margin: 0;
  background: #fffaf0;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* button */
.black-btn {
  display: block;
  width: 100%;
  padding: 0;
  background: #29363d;
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}
.black-btn:not(:disabled) {
  cursor: pointer;
}
.black-btn:disabled {
  opacity: 0.2;
}
button {
  border: 0;
}
/* .btn-edit {
  width: 100%;
  height: 100%;
  background: url(../../../assets/img_notepad/icon-edit.svg);
} */
.btn-delete {
  width: 100%;
  height: 100%;
  background: url(../../assets/img_notepad/icon-delete.svg);
}
/* form */
.label-style,
.input-style {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-style {
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  height: 48px;
  transition: all 0.2s;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  font-size: 16px;
}

.input-style:hover {
  box-shadow: 0 2px 0 0 #2e6ff2;
}
.input-style:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2e6ff2;
  border-radius: 4px;
}

.label-style {
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

/* layout ------------------------------- */
/* header */
header {
  background-color: white;
}
.header-wrap {
  width: 1224px;
  height: 120px;
  max-width: calc(100% - 60px);
  margin: auto;
  /* padding: 22px 0; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 75px;
}
/* header .btn-join {
  float: right;
} */

.hello {
  display: inline-block;
}
.hello strong {
  box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.2);
}

/* @media (min-width: 1541px) {
  .hello::after {
    content: "|";
    color: #d8ddde;
    margin-left: 24px;
  }
} */

@media (max-width: 540px) {
  /* .header-wrap > div {
    display: flex;
    flex-direction: column;
  } */
  .hello {
    position: absolute;
    top: 140px;
    right: 34px;
  }
}

.svg {
  display: block;
  width: auto;
  height: 120px;
  margin: 0 auto 20px;
}
.svg .svg-heart {
  transform: scale(1);
  stroke: transparent;
  stroke-width: 0px;
  transform-origin: 50% 20px;
  z-index: 10;
  animation: heart 0.5s cubic-bezier(0.23, 1.08, 0.26, 0.01) infinite alternate;
}

@keyframes heart {
  to {
    stroke: #ffc7d1;
    stroke-width: 2px;
    transform: scale(3);
  }
}
.article-content-div {
  display: none;
}

.show-content {
  display: block;
}
.input-form {
  display: block;
}
.new-diary {
  font-size: 16px;
  background-color: navajowhite;
  border-radius: 15px;
  margin-bottom: 10px;
}
.date-Category {
  margin-top: 0;
}
.toggle-btn {
  width: 20px;
  height: 20px;
  background: none;
}
.date-List {
  display: block;
}
.btn-onoff {
  border-radius: 15px;
  background-color: rgb(174, 211, 199);
}
.img-element {
  border: 1px solid black;
  margin: 3px;
  flex-grow: 1;
}
.btn-paint-delete {
  width: 330px;
  border-radius: 15px;
  background-color: #e1e3d5;
  text-align: center;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.img-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
